// Fonts
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic');
@import '~@fortawesome/fontawesome-free/css/all.css';
// OverlayScrollbars
@import '~overlayscrollbars/css/OverlayScrollbars.css';
// iCheck
@import '~icheck-bootstrap/icheck-bootstrap.css';
// AdminLTE
@import '../../vendor/almasaeed2010/adminlte/dist/css/adminlte.css';
// Bootstrap
// Already imported by AdminLTE
//@import '~bootstrap/scss/bootstrap';

.price-range-slider {
    width:100%;
    float:left;
    padding:10px 20px;
    .range-value {
        margin:0;
        input {
            width:100%;
            background:none;
            color: #000;
            font-size: 16px;
            font-weight: initial;
            box-shadow: none;
            border: none;
            margin: 20px 0 20px 0;
        }
    }

    .range-bar {
        border: none;
        background: #000;
        height: 3px;
        width: 96%;
        margin-left: 8px;

        .ui-slider-range {
            background:#06b9c0;
        }

        .ui-slider-handle {
            border:none;
            border-radius:25px;
            background:#fff;
            border:2px solid #06b9c0;
            height:17px;
            width:17px;
            top: -0.52em;
            cursor:pointer;
        }
        .ui-slider-handle + span {
            background:#06b9c0;
        }
    }
}
