aside.main-sidebar.sidebar-dark-primary.elevation-4 {}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active, a.nav-link.active {
    background: #353190 !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 3px solid #fff;
}

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus{
    background:#353190;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 3px solid #fff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 3px solid #fff;
}

.sidebar {
    box-shadow: 0px 0px 5px 5px;
    padding: 0px 0px 0px 16px;
}

aside.main-sidebar.sidebar-dark-primary.elevation-4 {
    box-shadow: 0px 0px 5px 5px!important;
}

.navbar-white {
    background-color: #f3f6f9;
    color: #1f2d3d;
}
.main-header {
    border-bottom: 1px solid #f3f6f9;
    z-index: 1034;
}
.card-primary:not(.card-outline)>.card-header {
    background-color: #353190;
}
[class*=sidebar-dark-] {
    background-color: #15213a;
}

h3.card-title {
    line-height: 30px;
}

aside.main-sidebar.sidebar-dark-primary.elevation-4 {}

a.nav-link.active {
    background:#353190 !important;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 3px solid #fff;
    color: #b2c1cf !important;
}


[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus{
    background:#353190;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 3px solid #fff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-right: 3px solid #fff;
}

.sidebar {
    box-shadow: 0px 0px 5px 5px;
}

aside.main-sidebar.sidebar-dark-primary.elevation-4 {
    box-shadow: 0px 0px 5px 5px!important;
}

.navbar-white {
    background-color: #f3f6f9;
    color: #1f2d3d;
}
.main-header {
    border-bottom: 1px solid #f3f6f9;
    z-index: 1034;
}
.card-primary:not(.card-outline)>.card-header {
    background-color: #353190;
}
[class*=sidebar-dark-] {
    background-color: #15213a;
}
